.SettingsPageContainer{
    display: flex;
    flex-wrap: nowrap;
    
    height: 100vh;
    margin-top: 20vh;
    margin-left: 10px;
    
}



.NavigationBox{
    display: flex;
    flex-direction: column;
    color: white;
    border: 2px solid white;


    align-self: flex-start;
    justify-self: center;   
    height: fit-content;
    
    width: 25vw;
    padding: 32px;
    margin: auto 0;
    margin-top: 10%;
    
    >h1{
         font-weight: 700;
    }
    >h2{
        font-size: x-large;
        cursor: pointer;
    }
    >h2:hover{
        border: 2px solid red;
        background-color: 
    }

}



.SettingsBox{
    border: 2px solid #E50914;
    align-self: center;
    color: white;

    height: 100vh;
    width: 50vw;
    padding: 32px;
    margin: 32px;


    >h1{
        text-align: center;
    }
}
